<section id="aimRobot">
  <div class="container" style="padding: 0">
    <div class="zeropad-mobile col-md-6">
      <img style="width:90%; display:block; margin:2em auto 0" src="{{ site.baseurl }}/img/aimweb/aimbot_cropped.jpg" alt="AIM ROBOT">
      <h3 style="text-align:center">AIM Robot</h3>
    </div>
    <hr>
    <div class="zeropad-mobile col-md-6">
      <h1>The number of children with special needs is increasing each year.</h1>

      <p>In US, CDC has estimated that 1 in 68 children has been identified with autism spectrum disorders (ASD). It is approximately
        1% of world population (CDC, 2014). In Thailand, it is approximately 400,000 children with ASD. The children are
        more likely to play alone and gain difficulty in interacting with people because the communication and social interaction
        skill impairment problem.</p>

      <p>With the increasing number of children with Autism Spectrum Disorders, it greatly outpaces the number of qualified
        occupational therapists, speech therapists, teachers or caregivers who are able to provide essential therapies and
        developmental stimulation. Children with ASD may receive insufficient behavior interventions. Their developments
        may be retarded.</p>

      <h1>We propose the robot assisted communication training.</h1>

      <p>It is not used to replace human being in taking care of the children. On the contrary, it is used by caregivers, teachers,
        or even therapists to efficiently set up a training session for each child as much as they want. Training frequency
        can be enhanced. It makes learning more fun and can reduce stress in teaching or training the children. Children
        engagement and attention can be drawn easily.</p>

      <p>We have more than 100 original contents which can be freely downloaded from a content sharing platform. Suitable content
        can be developed to fit with individual needs. Moreover, with the content sharing platform, users can share and monetize
        their developed created contents with the others.</p>
    </div>

  </div>
</section>