<!-- Content Demo Start -->

<!--<div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">Collapsible panel</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">Panel Body</div>
      </div>
    </div>
  </div>-->

<section id="contentsDemo">
  <div class="container" style="padding: 0">


    <!-- Video preview -->
    <div class="zeropad-mobile col-md-6">
      <h1 class="toptitle">Video Preview</h1>
      <div class="video-js-responsive-container vjs-hd">
        <video oncontextmenu="return false;" loop="true" id="my-video" class="video-js" controls preload="100%" style="margin: 0px auto;"
          preload="auto" data-setup="{}">
          <source id="vid-src" src="{{ site.baseurl }}/vid/onetofifty/01.One.mp4" type='video/mp4'>
          <!--<source src="MY_VIDEO.webm" type='video/webm'>-->
          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
          </p>
        </video>
      </div>
      <div class="video-controller">
        <button type="button" class="btn btn-default" onclick="buttonLeft()">
          <i class="fa fa-arrow-left fa-3x" aria-hidden="true"></i>
        </button>
        {% assign contentorder = 1 %}
        <span id="current-content">{{ contentorder }}</span>
        <button type="button" class="btn btn-default" onclick="buttonRight()">
          <i class="fa fa-arrow-right fa-3x" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <br>
    <!-- Contents list -->
    <div class="zeropad-mobile col-md-6">
      <h1 class="toptitle">Contents List</h1>
      <!-- use bootstrap panel for grouping contents -->
      <div class="panel-group">
        <div class="panel panel-default">
          {% assign categories = "onetofifty|sevenDays|twmonths|bdparts|clicecream|math" | split: "|" %}
          {% assign cat_name = "1-50|7 Days|12 Months|Body Parts|Colour|Math" | split: "|" %}
          {% for cat in categories %}
            <!-- Loop this snippet using liquid forloop -->
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#{{ cat }}">{{ cat_name[ forloop.index0 ] }}</a>
              </h4>
            </div>
            <div id="{{ cat }}" class="panel-collapse collapse">
              <ol class="list-group">
              {% for video in site.static_files %} 
                {% if video.path contains 'vid' %} 
                  {% if video.path contains cat %}
                      <li id="subitem"><a id="contentid-{{ contentorder }}" onclick="changesrc('{{ site.baseurl }}{{ video.path }}')">
                        {% assign words = video.path | split: '/' %}
                        {% assign splitedFilename = words[3] | split: '.' %}
                        {{ splitedFilename[1] }}
                        </a><br>
                      </li>
                      {% assign contentorder = contentorder | plus: 1 %}
                  {% endif %} 
                {% endif %} 
              {% endfor %}
              </ol>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<script src="//vjs.zencdn.net/5.19.2/video.js"></script>
<script>
  var currentContent;
  var currentContentLabel;
  var maxContentNumber = parseInt({{ contentorder | minus: 1 }});

  function changesrc(newsrc) {
    var vidsrc = document.getElementById('my-video_html5_api');
    vidsrc.setAttribute('src', newsrc);
    vidsrc.setAttribute('autoplay', true);
    console.log(newsrc);

    // var aobj = document.getElementById('subitem');
    // aobj.innerHTML = getFilename(newsrc);
    getSplitPath(newsrc);

    // TODO, update current label when user click on content name directly
    // update current content label
    // updateContentLabel(currentContent);
  }

  function getCategory(fullPath) {
    return getSplitPath(fullPath)[2];
  }

  function getSplitPath(fullPath) {
    var splitedPath = fullPath.split("/");
    // console.log(splitedPath);
    return splitedPath;
  }

  function getFilename(fullPath) {
    var filename = fullPath.replace(/^.*[\\\/]/, '');
    console.log(filename);
    return filename;
  }

  document.addEventListener('DOMContentLoaded', function () {

  }, false);

  $(document).ready(function(){
    currentContentLabel = document.getElementById("current-content");
    currentContent = parseInt(currentContentLabel.innerHTML);
  });

  function updateContentLabel(newCurrent) {
    currentContentLabel.innerHTML = newCurrent;
  }

  function buttonRight() {
    if (currentContent < maxContentNumber) {
      currentContent += 1;
      updateContentLabel(currentContent);
      document.getElementById("contentid-"+currentContent.toString()).click();
    }
  }

  function buttonLeft() {
    if (currentContent > 1) {
      currentContent -= 1;
      updateContentLabel(currentContent);
      document.getElementById("contentid-"+currentContent.toString()).click();
    }
  }
</script>