<!-- Content Demo Start -->
<style>
  .video-js-responsive-container.vjs-hd {
    padding-top: 56.25%;
  }
  
  .video-js-responsive-container.vjs-sd {
    padding-top: 75%;
  }
  
  .video-js-responsive-container {
    width: 100%;
    position: relative;
  }
  
  .video-js-responsive-container .video-js {
    height: 100% !important;
    width: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
  }

  .toptitle {
    text-align: center;
  }

  .vjs-hd {
    margin-bottom: 1.5em;
  }

  #subitem {
    padding: 2px 3px;
  }

  .list-group {
    font-size: 1.25em;
    padding: 0.25em 0 0.25em 2.25em;
  }

  body {
    /*overflow-y: hidden;*/
  }
</style>


<!--<div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">Collapsible panel</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">Panel Body</div>
      </div>
    </div>
  </div>-->

<section id="contents">
  <div class="container" style="padding: 0">
  

    <!-- Video preview -->
    <div class="zeropad-mobile col-md-6">
      <h1 class="toptitle">Video Preview</h1>
      <div class="video-js-responsive-container vjs-hd">
        <video oncontextmenu="return false;" loop="true" id="my-video" class="video-js" controls preload="100%" style="margin: 0px auto;" preload="auto" data-setup="{}">
          <source id="vid-src" src="{{ site.baseurl }}/vid/1-50-voice te-sp/01.One.mp4" type='video/mp4'>
          <!--<source src="MY_VIDEO.webm" type='video/webm'>-->
          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
          </p>
        </video>
      </div>
      <div class="video-controller">
        <button type="button" class="btn btn-default">
          <i class="fa fa-arrow-left fa-3x" aria-hidden="true"></i>
        </button>
        <span class="current-content">1</span>
        <button type="button" class="btn btn-default">
          <i class="fa fa-arrow-right fa-3x" aria-hidden="true"></i>
        </button>
      </div>
    </div>


    <!-- Contents list -->
    <div class="zeropad-mobile col-md-6">
      <h1 class="toptitle">Contents List</h1>
      <!-- use bootstrap panel for grouping contents -->
      <div class="panel-group">
        <div class="panel panel-default">
          <!-- 1-50 -->
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#onetofifty">1-10</a>
            </h4>
          </div>
          <div id="onetofifty" class="panel-collapse collapse">
            <ol class="list-group">
            {% for video in site.static_files %} 
              {% if video.path contains 'vid' %} 
                {% if video.path contains '1-50-voice te-sp' %}
                    <li id="subitem"><a onclick="changesrc('{{ site.baseurl }}{{ video.path }}')">
                      {% assign words = video.path | split: '/' %}
                      {% assign splitedFilename = words[3] | split: '.' %}
                      {{ splitedFilename[1] }}
                      </a><br>
                    </li>
                {% endif %} 
              {% endif %} 
            {% endfor %}
            </ol>
          </div>
          <!-- 7 Days -->
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#sevenDays">7 Days</a>
            </h4>
          </div>
          <div id="sevenDays" class="panel-collapse collapse">
            <ol class="list-group">
            {% for video in site.static_files %} 
              {% if video.path contains 'vid' %} 
                {% if video.path contains '7Days' %}
                    <li id="subitem"><a onclick="changesrc('{{ site.baseurl }}{{ video.path }}')">
                      {% assign words = video.path | split: '/' %}
                      {% assign splitedFilename = words[3] | split: '.' %}
                      {{ splitedFilename[1] }}
                      </a><br>
                    </li>
                {% endif %} 
              {% endif %} 
            {% endfor %}
            </ol>
          </div>
          <!-- 12 Months -->
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#twmonths">12 Months</a>
            </h4>
          </div>
          <div id="twmonths" class="panel-collapse collapse">
            <ol class="list-group">
            {% for video in site.static_files %} 
              {% if video.path contains 'vid' %} 
                {% if video.path contains '12months' %}
                    <li id="subitem"><a onclick="changesrc('{{ site.baseurl }}{{ video.path }}')">
                      {% assign words = video.path | split: '/' %}
                      {% assign splitedFilename = words[3] | split: '.' %}
                      {{ splitedFilename[1] }}
                      </a><br>
                    </li>
                {% endif %} 
              {% endif %} 
            {% endfor %}
            </ol>
          </div>
          <!-- Bodypart -->
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#bdparts">Body Parts</a>
            </h4>
          </div>
          <div id="bdparts" class="panel-collapse collapse">
            <ol class="list-group">
            {% for video in site.static_files %} 
              {% if video.path contains 'vid' %} 
                {% if video.path contains 'Bodypart' %}
                    <li id="subitem"><a onclick="changesrc('{{ site.baseurl }}{{ video.path }}')">
                      {% assign words = video.path | split: '/' %}
                      {% assign splitedFilename = words[3] | split: '.' %}
                      {{ splitedFilename[1] }}
                      </a><br>
                    </li>
                {% endif %} 
              {% endif %} 
            {% endfor %}
            </ol>
          </div>
          <!-- COLOR ice cream -->
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#clicecream">Colour</a>
            </h4>
          </div>
          <div id="clicecream" class="panel-collapse collapse">
            <ol class="list-group">
            {% for video in site.static_files %} 
              {% if video.path contains 'vid' %} 
                {% if video.path contains 'COLOR ice cream' %}    
                    <li id="subitem"><a onclick="changesrc('{{ site.baseurl }}{{ video.path }}')">
                      {% assign words = video.path | split: '/' %}
                      {% assign splitedFilename = words[3] | split: '.' %}
                      {{ splitedFilename[1] }}
                      </a><br>
                    </li>
                {% endif %} 
              {% endif %} 
            {% endfor %}
            </ol>
          </div>
          <!-- Math -->
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#math">Math</a>
            </h4>
          </div>
          <div id="math" class="panel-collapse collapse">
            <ol class="list-group">
            {% for video in site.static_files %} 
              {% if video.path contains 'vid' %} 
                {% if video.path contains 'Math' %}    
                    <li id="subitem"><a onclick="changesrc('{{ site.baseurl }}{{ video.path }}')">
                      {% assign words = video.path | split: '/' %}
                      {% assign splitedFilename = words[3] | split: '.' %}
                      {{ splitedFilename[1] }}
                      </a><br>
                    </li>
                {% endif %} 
              {% endif %} 
            {% endfor %}
            </ol>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>

<script src="//vjs.zencdn.net/5.19.2/video.js"></script>
<script>
  function changesrc(newsrc) {
    var vidsrc = document.getElementById('my-video_html5_api');
    vidsrc.setAttribute('src', newsrc);
    vidsrc.setAttribute('autoplay', true);
    console.log(newsrc);

    // var aobj = document.getElementById('subitem');
    // aobj.innerHTML = getFilename(newsrc);
    getSplitPath(newsrc);
  }

  function getCategory(fullPath) {
    return getSplitPath(fullPath)[2];
  }

  function getSplitPath(fullPath) {
    var splitedPath = fullPath.split("/");
    // console.log(splitedPath);
    return splitedPath;
  }

  function getFilename(fullPath) {
    var filename = fullPath.replace(/^.*[\\\/]/, '');
    console.log(filename);
    return filename;
  }

  document.addEventListener('DOMContentLoaded', function() {
    
  }, false);
</script>

